button { padding: 10px 20px; background-color: goldenrod; color: white; border: none;
    cursor: pointer; width: 500px; margin-bottom: 20px;display: flex; justify-content: center;
    font-size: large;}
    
    nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;           /* remove extra margins */
    align-items: center;  /* vertically center links in header */
}

nav a {
    color: #003366;
    text-decoration: none;
    font-size: 18px;
    line-height: 1;   /* same as logo height for perfect alignment */
    margin: 0;           /* remove previous top margin */
}

nav a:hover {
    color: #ff0015;
    cursor: pointer;
}